body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin:0;
    padding:0;
    line-height: 1.5;
}

.layout {
    max-width: 760px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nav__link {
    margin-left: 20px;
}

.circle-button {
    cursor: pointer;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    border-radius: 50%;

    transition: transform 350ms, box-shadow 350ms;
    transform: translateY(0);
    box-shadow: 0 2px 5px -2px transparentize($color: #000000, $amount: 0.5);

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 7px -2px transparentize($color: #000000, $amount: 0.7);
    }
}