// Color
$primary: #7BA6C9;
$secondary: rgb(221, 98, 94);
$white: #ffffff;
$dark: #4d5358;
$light: #eef0f3;

// Fonts
$body-font: eb-garamond, serif;
$title-font: museo-sans, sans-serif;
$base-font-size: 1.1rem;
$base-font-color: $dark;

// Layouts
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


// Drop Shadow
$shadow: 0 2px 5px -2px transparentize($color: #000000, $amount: 0.5);
$shadowHover: 0 4px 7px -2px transparentize($color: #000000, $amount: 0.7);

// Transforms
$skew: skewY(5deg);
$skewAlt: skewY(-5deg);