// Color
$primary: #336e7b;
$secondary: #d64541;
$white: #ffffff;
$dark: #4d5358;
$light: #eef0f3;

// Fonts
$body-font: eb-garamond, serif;
$title-font: museo-sans, sans-serif;
$base-font-size: 1.1rem;
$base-font-color: $dark;

$input-btn-font-family: $title-font;

// Layouts
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


// Drop Shadow
$shadow: 0 5px 10px -5px transparentize($color: #000000, $amount: 0.3);
$shadowHover: 0 4px 12px -5px transparentize($color: #000000, $amount: 0.4);

// Transforms
$skew: skewY(5deg);
$skewAlt: skewY(-5deg);